body{
    background: blue;
}

.main{
 height: 100vh;
 box-sizing: border-box;
}

.login-box{
background: white;
width: 500px;
border: solid 2px;
border-radius: 20px;
padding: 20px;
}

.register-box{
width: 500px;
border: solid 1px;
border-radius: 20px;
padding: 20px;
}

